<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button color="primary" menu="main-menu" slot="start"> </ion-menu-button>
    <ion-chip id="popover-button" slot="end">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{CurrentUser[0].name + " " + CurrentUser[0].lastname}}</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item color="dark" (click)="logout()">
          <ion-label>Cerrar sesión</ion-label>
          <ion-icon slot="end" name="log-out-outline"></ion-icon>
        </ion-item>
      </ion-list>>
    </ion-content>
  </ng-template>
</ion-popover>

<ion-content [fullscreen]="true">

  <ion-list *ngFor="let report of Reports; let i = index">
    <div style="display: flex; justify-content:center;">
      <ion-icon class="iconCard" style="color: {{report.department.color}};" name="{{report.department.icon}}"></ion-icon>
    </div>
    <ion-card style="border-color: {{report.department.color}};">
      <div class="map" id="map{{i}}" style="height:200px; width: 100%;"></div>
      <ion-card-header>
        <ion-card-title>{{report.suburb}}</ion-card-title>
        <ion-card-subtitle>{{report.street}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{report.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>