<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" (click)="dismiss()"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="header">
    <h1>Crear una <br> nueva secretaría</h1>
  </div>

  <div class="form">
    <ion-input placeholder="Nombre" [(ngModel)]="name" #ctrl="ngModel"></ion-input>
  
  </div>

  <div class="button" (click)="addSecretariat()">
    Registrar <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</ion-content>