ion-content {
    --background: #B22241;
}

ion-toolbar {
    --background: #f6f5f5;
}

ion-item {
    --background: #B22241;
    color: #f6f5f5;
}

ion-back-button {
    display: block;
    color: #B22241;
 }