<ion-content [fullscreen]="true">

  <div class="header">
    <ion-img src="assets/mascot/Hi.gif" style="height: 250PX; width: 250PX; margin: auto; margin-top: 10%;"></ion-img>
  </div>

  <div class="form">
    <ion-input placeholder="Nombre" [(ngModel)]="name" #ctrl="ngModel"></ion-input>
    <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password" #ctrl="ngModel"></ion-input>
  </div>

  <div class="button" (click)="SignIn(name, password)">
    Iniciar Sesión <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</ion-content>