ion-content{
    --background: rgb(255, 255, 255);
    border-left: 7px solid #B22241;

    .header{
        padding: 0 12vw;
        color: rgb(255, 255, 255);
    }


    .form{
        padding: 0 12vw;
        ion-input{
            --background: #bb9ea4;
            --padding-start: 33px;
            height: 55px;
            border-radius: 15px;
            margin-bottom: 22px;
            --color: rgb(255, 255, 255);
        }
    }

    .button{
        width: 50vw;
        color: white;
        --color: rgb(255, 255, 255);
        background-color: #B22241;
        margin-top: 100px;
        padding: 20px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: flex-end;
        ion-icon{
            margin-left: 30px;
        }
    }

    .footer{
        color: rgb(187, 187, 187);
        padding: 0 12vw;
        margin-top: 100px;
        text-align: center;

        h3{
            font-size: 1rem;
            font-weight: 400;

            span{
                font-size: 1.2rem;
                color: #B22241;
                font-weight: 500;
            }
        }
    }
}