<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" (click)="dismiss()"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="header">
    <h1>Crear un <br> nuevo teléfono de servicio</h1>
  </div>

  <div class="form">
    <ion-input value="{{name}}" placeholder="Nombre" [(ngModel)]="name" #ctrl="ngModel"></ion-input>
    <ion-input value="{{number}}" placeholder="Número" type="tel" [(ngModel)]="number" #ctrl="ngModel"></ion-input>
    <!-- <ion-input placeholder="Color" [(ngModel)]="color" #ctrl="ngModel"></ion-input>
    <ion-input placeholder="Icono" [(ngModel)]="icon" #ctrl="ngModel"></ion-input> -->
  </div>

  <!-- <div class="button" (click)="addServicePhone(name, number, color, icon)">
    Registrar <ion-icon name="chevron-forward-outline"></ion-icon>
  </div> -->

  <div class="button" (click)="updateServicePhone(name, number)">
    Registrar <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</ion-content>