<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-chip style="color: #f6f5f5; background: #7c1734; height: 80px;" (click)="openMenu()" slot="start">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{CurrentUser.name + " " + CurrentUser.lastname}}</ion-label>
    </ion-chip>
    <ion-img slot="end" src="assets/mascot/Idle.gif" style="height: 120PX; width: 120PX; margin: auto;"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChange($event)" [(ngModel)]="option" [scrollable]="true">
    <ion-segment-button value=1>
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value=2 *ngIf="CurrentUser.hierarchy.level < 1">
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value=3 *ngIf="CurrentUser.hierarchy.level < 1">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value=4 *ngIf="CurrentUser.hierarchy.level < 1">
      <ion-icon name="briefcase"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="option">

    <div *ngSwitchCase="1" style="--background: rgb(32, 32, 32);">
      <ion-list *ngFor="let department of departments">
        <ion-item-group>
          <ion-item-divider>
            <ion-item>
              <ion-icon slot="start" name="{{department.icon}}" style="color: {{department.color}};"></ion-icon>
              <ion-label>{{department.name}}</ion-label>
            </ion-item>
          </ion-item-divider>

          <div *ngFor="let user of users">
            <div *ngFor="let userDepartment of user.departments">
              <ion-item-sliding
                *ngIf="userDepartment == department._id && user.hierarchy.level > CurrentUser.hierarchy.level">
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                  <ion-label>{{user.name}} {{user.lastname}}</ion-label>
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option
                    (click)="updateUser(user._id, user.name, user.lastname, user.phone, user.password, user.hierarchy._id, user.department)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </ion-item-option>
                  <ion-item-option (click)="deleteUser(user._id)" color="danger">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-item-option>

                </ion-item-options>
              </ion-item-sliding>
            </div>
          </div>
        </ion-item-group>
      </ion-list>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="addUser()" color="dark">
          <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <div *ngSwitchCase="2" style="--background: rgb(32, 32, 32);">
      <ion-list *ngFor="let department of departments">
        <ion-item-sliding>
          <ion-item>
            <ion-icon slot="start" name="{{department.icon}}" style="color: {{department.color}};"></ion-icon>
            <ion-label>{{department.name}}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="updateDepartment(department._id, department.name, department.color, department.icon, department.info)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="deleteDepartment(department._id)" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="addDepartment()" color="dark">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <div *ngSwitchCase="3" style="--background: rgb(32, 32, 32);">
      <ion-list *ngFor="let servicePhone of servicePhones">
        <ion-item-sliding>
          <ion-item>
            <ion-label>{{servicePhone.name}}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="updateServicePhone(servicePhone._id, servicePhone.name, servicePhone.phone)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="deleteServicePhone(servicePhone._id)" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="addServicePhone()" color="dark">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <div *ngSwitchCase="4" style="--background: rgb(32, 32, 32);">
      <ion-list *ngFor="let hierarchy of hierarchies">
        <ion-item-sliding>
          <ion-item>
            <ion-label>{{hierarchy.name}}</ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="updateHierarchy(hierarchy._id, hierarchy.name, hierarchy.level)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="deleteHierarchy(hierarchy._id)" color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="addHierarchy()" color="dark">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

  </div>


</ion-content>