<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" (click)="dismiss()"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="header">
    <h1>Crear un <br> nuevo rol de usuario</h1>
  </div>

  <div class="form">
    
    <ion-input placeholder="Nombre" [(ngModel)]="name" #ctrl="ngModel"></ion-input>
    <ion-item>
      <ion-checkbox [(ngModel)]="canCreate" #ctrl="ngModel" slot="start"></ion-checkbox>
      <ion-label>Permisos para crear</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="canEdit" #ctrl="ngModel" slot="start"></ion-checkbox>
      <ion-label>Permisos para editar</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="canDelete" #ctrl="ngModel" slot="start"></ion-checkbox>
      <ion-label>Permisos para eliminar</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="superUser" #ctrl="ngModel" slot="start"></ion-checkbox>
      <ion-label>Super Usuario</ion-label>
    </ion-item>
    
  </div>

  <div class="button" (click)="addUserType(name, canCreate, canEdit, canDelete, superUser)">
    Registrar <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</ion-content>