<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-chip style="color: #f6f5f5; background: #7c1734; height: 80px;" (click)="openMenu()" slot="start">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{CurrentUser.name + " " + CurrentUser.lastname}}</ion-label>
    </ion-chip>
    <ion-img slot="end" src="assets/mascot/Idle.gif" style="height: 120PX; width: 120PX; margin: auto;"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="option" value="1">
    <ion-segment-button value="1">
      <ion-icon name="language"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-icon name="calendar"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="option">
    <ion-searchbar *ngSwitchCase="1" [(ngModel)]="content" show-clear-button="focus" animated="true" mode="ios"
      placeholder="Palabras en la descripción"></ion-searchbar>

    <div *ngSwitchCase="2">

      <ion-datetime mode="md" [(ngModel)]="beginDate" locale="es" style="margin: 50px;" datetime="startDatetime"
        presentation="date">
        <span slot="title">Fecha inicial</span>
      </ion-datetime>
      <ion-datetime mode="md" [(ngModel)]="finalDate" locale="es" style="margin: 50px;" datetime="endDatetime"
        presentation="date">
        <span slot="title">Fecha final</span>
      </ion-datetime>

    </div>
  </div>

  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button (click)="searchReports(option)">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>