<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-chip style="color: #f6f5f5; background: #7c1734; height: 80px;" (click)="openMenu()" slot="start">
      <ion-avatar>
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{CurrentUser[0].name + " " + CurrentUser[0].lastname}}</ion-label>
    </ion-chip>
    <ion-img slot="end" src="assets/mascot/Idle.gif" style="height: 120PX; width: 120PX; margin: auto;"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="option" interface="popover" placeholder="Selecciona una opción">
        <ion-select-option value="1">Id</ion-select-option>
        <ion-select-option value="2">Palabras en la descripción</ion-select-option>
        <ion-select-option value="3">Rango de fechas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div [ngSwitch]="option">
    <ion-searchbar *ngSwitchCase="1"  placeholder="Id"></ion-searchbar>
    <ion-searchbar *ngSwitchCase="2" [(ngModel)]="content" placeholder="Palabras en la descripción"></ion-searchbar>

    <div *ngSwitchCase="3">

      <ion-title> Fecha inicial </ion-title>

      <ion-datetime-button style="margin: 50px;" datetime="startDatetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template> 
          <ion-datetime [(ngModel)]="beginDate" locale="es" [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar" id="startDatetime">
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-title> Fecha final </ion-title>

      <ion-datetime-button style="margin: 50px;" datetime="endDatetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [(ngModel)]="finalDate" locale="es" [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar" id="endDatetime">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
  </div>

  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button (click)="searchReports(option)">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>